.center .slick-prev {
  top: 50%;
  left: 5% !important;
  z-index: 100;
  position: absolute;
}
.center .slick-next {
  top: 50%;
  right: 5% !important;
  z-index: 100;
  position: absolute;
  /* background-image: url(../../assets/img/next-session.png); */
}
